CL_9/Assignment_5/Code/HelloREST/WebContent/wsdl/Company.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.codejava.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.codejava.net" xmlns:intf="http://ws.codejava.net" xmlns:tns1="http://json.org" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.codejava.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://json.org"/>
   <import namespace="http://lang.java"/>
   <element name="getlist">
    <complexType/>
   </element>
   <element name="getlistResponse">
    <complexType>
     <sequence>
      <element name="getlistReturn" type="tns1:JSONArray"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://json.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <complexType name="JSONObject">
    <sequence>
     <element name="empty" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="JSONArray">
    <sequence>
     <element maxOccurs="unbounded" name="JSONArray" nillable="true" type="tns1:JSONArray"/>
     <element maxOccurs="unbounded" name="JSONObject" nillable="true" type="tns1:JSONObject"/>
     <element maxOccurs="unbounded" name="bigDecimal" nillable="true" type="xsd:decimal"/>
     <element maxOccurs="unbounded" name="bigInteger" nillable="true" type="xsd:integer"/>
     <element maxOccurs="unbounded" name="boolean" type="xsd:boolean"/>
     <element maxOccurs="unbounded" name="double" type="xsd:double"/>
     <element name="empty" type="xsd:boolean"/>
     <element maxOccurs="unbounded" name="float" type="xsd:float"/>
     <element maxOccurs="unbounded" name="int" type="xsd:int"/>
     <element maxOccurs="unbounded" name="long" type="xsd:long"/>
     <element maxOccurs="unbounded" name="number" nillable="true" type="xsd:anyType"/>
     <element maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getlistRequest">

      <wsdl:part element="impl:getlist" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getlistResponse">

      <wsdl:part element="impl:getlistResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Company">

      <wsdl:operation name="getlist">

         <wsdl:input message="impl:getlistRequest" name="getlistRequest">

       </wsdl:input>

         <wsdl:output message="impl:getlistResponse" name="getlistResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CompanySoapBinding" type="impl:Company">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getlist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getlistRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getlistResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CompanyService">

      <wsdl:port binding="impl:CompanySoapBinding" name="Company">

         <wsdlsoap:address location="http://localhost:8080/HelloREST/services/Company"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
